<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Session Lobby</title>
  </head>
  <body>
    <h1>Session Lobby</h1>
    <p>Welcome to the session lobby. Please wait for the session to start.</p>

    <div class="lobby-container">
      <label>
        <span id="session-code"
          >Session Code: <span id="session-code-value"></span
        ></span>
      </label>
    </div>

    <div>
      <p id="participants-count">0 participants</p>
    </div>

    <script type="module" src="/static/js/lobby/lobby-main.js"></script>
  </body>
</html>
