<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>FarFrame | Session</title>
  </head>
  <body class="bg-[#faf2eb]">
    <nav
      class="flex flex-col gap-4 m-2 mx-6 mb-9 md:flex-row md:items-center md:justify-between"
    >
      <div class="flex flex-row items-center gap-3">
        <img
          class="w-12 h-12 shrink-0"
          src="/static/images/visuals/heart.svg"
          alt="FarFrame Heart Logo"
        />
        <div>
          <h1 class="text-white text-5xl md:text-6xl font-marck drop-shadow-md">
            <span class="text-[#f16c90]">Far</span>Frame
          </h1>
          <p
            class="text-gray-700 font-medium text-base md:text-lg font-basic drop-shadow-md"
          >
            <span class="text-[#f36c90]">Capture the moment,</span> even from
            miles apart.
          </p>
        </div>
      </div>

      <button
        id="leaveRoomBtn"
        class="mr-6 flex items-center justify-center rounded-full bg-[#fbece8] hover:bg-[#ffd6cb] p-3 font-basic cursor-pointer transition-colors"
        title="Exit"
        aria-label="Exit Lobby"
      >
        <img
          class="w-6 h-6 object-contain"
          src="/static/images/icons/exit.svg"
          style="
            filter: invert(68%) sepia(21%) saturate(1313%) hue-rotate(300deg)
              brightness(97%) contrast(89%);
          "
          alt=""
        />
      </button>
    </nav>

    <main class="camera-control flex flex-col gap-2 justify-center text-center">
      <div class="mb-3 font-basic">
        <h2 class="text-2xl font-bold text-[#ff648d] relative inline-block">
          <img
            src="/static/images/visuals/dashed-lines.svg"
            class="absolute w-10 h-10 -right-10 -top-5"
          />
          You're all set!
          <img
            src="/static/images/visuals/dashed-lines.svg"
            class="absolute w-10 h-10 -left-10 -top-5 -scale-x-100"
          />
        </h2>
        <p class="text-black/70">Smile, pose and make sure you have fun!</p>
      </div>

      <div class="webcam-container flex flex-col gap-4">
        <div
          id="camera-selector"
          class="flex flex-row gap-2 text-center justify-center mx-4"
        >
          <div class="list-wrapper relative group inline-block">
            <select
              id="cameraList"
              class="bg-[#ff648d] hover:bg-[#fd4a77] cursor-pointer appearance-none rounded-full text-white font-basic pl-8 pr-10 py-2 text-center focus:outline-none transition-colors"
            ></select>

            <img
              class="invert pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 w-4 h-4 transition-transform duration-200 group-focus-within:rotate-180"
              src="/static/images/icons/dropdown-arrow.svg"
              alt="Dropdown arrow"
            />
          </div>
          <button
            id="refreshBtn"
            class="primary-btn p-1 px-2.5"
            title="Refresh Camera List"
          >
            <img
              src="/static/images/icons/refresh.svg"
              class="w-5 h-5 invert transition-transform duration-500 ease-in-out"
              alt="refresh"
            />
          </button>
          <button id="mirrorBtn" class="primary-btn p-1 px-2.5" title="Mirror">
            <img
              class="w-6 h-6 invert object-contain brightness-0"
              src="/static/images/icons/mirror-right.svg"
            />
          </button>
        </div>

        <div class="grid grid-cols-[1fr_minmax(0,900px)_1fr] w-full gap-4">
          <!-- Left Column: Sidebar aligned to the right edge near the video -->
          <div
            class="justify-self-end rounded-xl p-1 flex items-center justify-center"
          >
            <!-- Perspective Container for the Convex Infinite Cylinder -->
            <div
              id="filter-wrapper"
              class="relative h-[280px] w-[85px] overflow-hidden flex justify-center items-center select-none touch-none cursor-grab active:cursor-grabbing"
              style="perspective: 600px"
            >
              <div
                id="video-filter"
                class="relative w-full h-full flex justify-center items-center"
                style="transform-style: preserve-3d"
              ></div>
            </div>
          </div>

          <!-- Center Column: Video Player Container (900px wide) -->
          <div
            id="video-grid"
            class="relative w-full aspect-video bg-[#faf2eb] grid grid-cols-1 overflow-hidden rounded-2xl"
          >
            <div
              class="flex justify-center absolute items-center w-full h-full z-99"
            >
              <div id="countdown-container" class="hidden w-23 h-23">
                <svg
                  id="countdown-pizza"
                  viewBox="0 0 100 100"
                  class="w-full h-full"
                ></svg>

                <span
                  id="countdown"
                  class="absolute inset-0 flex items-center justify-center text-white font-basic text-2xl font-bold pointer-events-none"
                >
                  10
                </span>
              </div>
            </div>
          </div>

          <!-- Right Column -->
          <div class="justify-self-start">
            <div>
              <canvas id="videoCanvas" class="hidden"></canvas>
              <h2 class="font-satisfy font-bold tracking-widest text-[#ff648d]">
                Preview
              </h2>
            </div>

            <div
              class="grid gap-3 p-4 w-55 rounded-lg border border-gray-50/10"
            >
              <div
                class="aspect-video bg-[#fcf1e8] rounded-lg border-dashed flex items-center justify-center overflow-hidden border border-[#ff648d]"
                title="preview"
              >
                <img
                  id="shot-0"
                  class="w-full h-full object-cover hidden"
                  alt="Shot 1"
                />
                <span id="label-0" class="text-[#ff648d] font-bold">1</span>
              </div>
              <div
                class="aspect-video bg-[#fcf1e8] rounded-lg border-dashed flex items-center justify-center overflow-hidden border border-[#ff648d]"
                title="preview"
              >
                <img
                  id="shot-1"
                  class="w-full h-full object-cover hidden"
                  alt="Shot 2"
                />
                <span id="label-1" class="text-[#ff648d] font-bold">2</span>
              </div>
              <div
                class="aspect-video bg-[#fcf1e8] rounded-lg border-dashed flex items-center justify-center overflow-hidden border border-[#ff648d]"
                title="preview"
              >
                <img
                  id="shot-2"
                  class="w-full h-full object-cover hidden"
                  alt="Shot 3"
                />
                <span id="label-2" class="text-[#ff648d] font-bold">3</span>
              </div>
              <div
                class="aspect-video bg-[#fcf1e8] rounded-lg border-dashed flex items-center justify-center overflow-hidden border border-[#ff648d]"
                title="preview"
              >
                <img
                  id="shot-3"
                  class="w-full h-full object-cover hidden"
                  alt="Shot 4"
                />
                <span id="label-3" class="text-[#ff648d] font-bold">4</span>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-[#faf1ea] animate-grow border border-dashed shadow p-4 py-1 gap-3 text-sm border-[#ff8fad] justify-center items-center rounded-full flex flex-row max-w-67 mx-auto"
        >
          <img
            src="/static/images/icons/heart.svg"
            class="w-3 h-3"
            alt="heart icon"
          />
          <p class="font-basic text-black/30">
            Tip: Look at the camera and smile!
          </p>
        </div>

        <div
          class="camera-controls flex flex-row justify-center text-center gap-2"
        >
          <button
            class="primary-btn shadow px-6 flex flex-row gap-2 items-center"
            id="captureBtn"
          >
            <img
              class="w-5 h-5 invert"
              src="/static/images/icons/camera-white.svg"
            />
            <p>Capture</p>
          </button>
          <button
            class="primary-btn shadow px-6 flex flex-row gap-1 items-center text-[#b8824f] bg-[#ffe8d3] border border-[#f898b1]"
            id="muteBtn"
          >
            <div
              class="w-4 h-4 bg-[#b8824f] [mask-image:url('/static/images/icons/unmute.svg')] [mask-size:contain] [mask-repeat:no-repeat] [mask-position:center]"
            ></div>
            <p>Mute</p>
          </button>
        </div>
      </div>
    </main>

    <footer
      class="w-full flex justify-center text-center p-5"
    >
      <p class="text-xs text-gray-500">
        No downloads. No complicated setup. Just create a room, connect, and
        smile.
        <span class="text-[#d4597a] underline italic">
          <a href="#">More</a>
        </span>
      </p>
    </footer>

    <script type="module" src="/static/js/session/session-socket.js"></script>
    <script type="module" src="/static/js/session/session-main.js"></script>
    <script type="module" src="/static/js/session/media/camera.js"></script>
    <script type="module" src="/static/js/session/media/video.js"></script>
    <script type="module" src="/static/js/utils/capture-img.js"></script>
    <script type="module" src="/static/js/utils/filters-utils.js"></script>
    <script
      type="module"
      src="/static/js/utils/scroll-container.js"
      defer
    ></script>
  </body>
</html>
