@import "tailwindcss";

@font-face {
    font-family: "Satisfy";
    src: url("../fonts/Satisfy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Prociono";
    src: url("../fonts/Prociono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Basic";
    src: url("../fonts/Basic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer components {
    .modal {
        @apply fixed inset-0 z-50 flex items-center justify-center bg-black/15 backdrop-blur-[3px] transition-all;
    }
    
    .modal-content {
        @apply relative w-full max-w-md rounded-2xl bg-white p-6 shadow-xl border border-black/10;
    }
}

@theme {
    --font-satisfy: "Satisfy", cursive;
    --font-prociono: "Prociono", serif;
    --font-basic: "Basic", serif;
}